/* You can add global styles to this file, and also import other style files */
.navbar.navbar-transparent {
  background: transparent !important;
  padding-top: 25px;
  background-color: #171941 !important;
  position: inherit;
}
