<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/main_layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Safe Airline- List</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css?family=Abril+Fatface}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
    <script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
    <link rel="stylesheet" th:href="@{/css/flight-style.css}">
 <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">




    <script>
        window.console = window.console || function (t) {
        };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>

</head>


<body>

<div layout:fragment="content" id="publicFlight">





    <h4 th:if="${size!=0}">We have found your available flights</h4>
    <h4 th:if="${size==0}">The is no Available Flight for this Destination or at this date </h4>
<hr>

    <div th:each="flight,iterStat : ${flights}">



                <div class="border-card">
                <div class="card-type-icon with-border">
                    <img th:src="@{/images/safeairlines.png}" height="60px">
                </div>
                <div class="content-wrapper">
                <div class="label-group fixed">
                <p class="title">8:00 AM</p>
                <p class="caption"> <span th:text="${flight.getDepaturePlace().getName()}">  DMK </span> </p>
                </div>
                <div class="min-gap"></div>
                <div class="label-group">
                    <p class="text-center">5 HRS</p>
                <p style="font-size: 25px;" class="title">&#9473;&#9473;&#9473;&#9477;&#9473;&#9473;&#9473;<i class="fa fa-fighter-jet" aria-hidden="true"></i></p>
                <p class="caption"></p>
                </div>
                <div class="min-gap"></div>
                <div class="label-group">
                <p class="title">5:00 PM</p>
                    <p class="caption"><span th:text="${flight.arrivalPlace.name}">CHG</span></p>
                </div>
                </a>
                </div>
                <form th:action="@{/flights/booking}" >
                    <input type="hidden" name="bookingId" th:value="${flight.id}">
                    <button class="btn btn-success" type="submit" name="SELECT"><span th:text="${'$'}+${flight.price}">SELECT $380</span></button>
                </form>

                </div>

</div>

</div>

<script th:src="@{https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js}"></script>
<script th:src='@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js}'></script>

<script id="rendered-js">
      $('.droppable').bind('dragover', function (e) {
  $(this).addClass('over');

  if (e.originalEvent.preventDefault)
  e.preventDefault();

  e.originalEvent.dataTransfer.dropEffect = 'copy';
  return false;
});


$('.droppable').bind('dragenter', function (e) {
  $(this).addClass('over');
});

$('.droppable').bind('dragleave', function (e) {
  $(this).removeClass('over');
});


$('.droppable').bind('drop', function (e) {
  $(this).removeClass('over');

  if (e.originalEvent.stopPropagation)
  e.originalEvent.stopPropagation();

  var stuff = $(e.originalEvent.dataTransfer.getData('stuff'));
  stuff.appendTo(this);
  return false;
});

    </script>

</div>



<!--include the footer right here -->
<th:block layout:fragment="footer"></th:block>

</body>
</html>