<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/main_layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>SafeAirlines Login</title>
    <link rel="stylesheet" th:href="@{/css/signup-style.css}">


</head>
<body>

<div layout:fragment="content">

<h1></h1>

<div class="w3_frm">

    <form th:action="@{/login}" method="post">
        <h3>SafeAirlines Login</h3>

        <div th:if="${param.error}" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Invalid username and/or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            You have been signed out.
        </div>

        <div class="field-w3-agile-grid leftf">
            <input type="text" name="email" placeholder="Email" required=""/>
        </div>

        <div class="field-w3-agile-grid leftf">
            <input type="password" name="password" placeholder="Password" required=""/>
        </div>


        <input type="submit" value="LOGIN">
        <p>If you are not a user. Please <a class="text-secondary" href="/public/signup">Signup</a> here.</p>
    </form>


</div>
</div>

</body>
</html>