<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/main_layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>SafeAirlines Registration</title>
    <link rel="stylesheet" th:href="@{/css/signup-style.css}">


</head>
<body>

<div layout:fragment="content">

<h1></h1>

<div class="w3_frm">
    <!---728x90--->
    <form th:action="@{/public/add}" th:object="${newUser}" method="post">
        <h3>SafeAirlines Sigup</h3>

        <div class="field-w3-agile-grid leftf">
            <input type="text" th:field="*{firstName}" placeholder="FirstName" required=""/>
            <p th:if="${#fields.hasErrors('firstName')}" class="error" th:errors="*{firstName}"
               th:errorclass="fieldError">Error</p>
        </div>
        <!---728x90--->
        <div class="field-w3-agile-grid leftf">
            <input type="text" th:field="*{lastName}" placeholder="LastName" required=""/>
            <p th:if="${#fields.hasErrors('lastName')}" class="error" th:errors="*{lastName}"
               th:errorclass="fieldError">Error</p>
        </div>

        <div class="field-w3-agile-grid leftf">
            <input type="text" th:field="*{email}" placeholder="Email" required=""/>
            <p th:if="${#fields.hasErrors('email')}" class="error" th:errors="*{email}"
               th:errorclass="fieldError">Error</p>
        </div>


        <div class="field-w3-agile-grid rightf">
            <input type="password" th:field="*{password}" placeholder="PassWord" required=""/>
        </div>




        <div class="field-w3-agile-grid rem">
            <input type="checkbox" value="" required="">
            <label><span></span>I Accept to the Terms and Conditions</label>
        </div>

        <input type="submit" value="SIGNUP">
    </form>

</div>
</div>





</body>
</html>