<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Add Flight</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/modern-business.css}" href="/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
              <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
              <a class="dropdown-item" href="blog-post.html">Blog Post</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item active" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"> <small><span th:text="#{flight.form.add}">Add Flight</span>
       </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Add </li>
    </ol>

    <div class="jumbotron">


        <form id="newFlight" name="" method="post" action="/safeairline/flight/new" th:object="${flight}" methode="post">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFlightNum">Flight Number</label>
                    <input type="text" th:field="*{flightNumber}" class="form-control" id= "inputFlightNum" placeholder="Flight Number" name="flightNumber">
                  <span th:if="${#fields.hasErrors('flightNumber')}" th:errors="*{flightNumber}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPlaneNum">Plane Number</label>
                  <input type="text" th:field="*{planeNumber}" class="form-control" id="inputPlaneNum" placeholder="Plane Number">
                  <span th:if="${#fields.hasErrors('planeNumber')}" th:errors="*{planeNumber}" class="text-danger"></span>
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div> -->
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputDepartureDate">Departure Date </label>
                      <input type="date" th:field="*{deptDate}" class="form-control" id="inputDepartureDate" placeholder="Arrival Date">
                      <span th:if="${#fields.hasErrors('deptDate')}" th:errors="*{deptDate}" class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-2">
<!--                      <label for="inputDepartureTime">Departure Time</label>-->
<!--                      <input type="time" th:field="*{deptTime}" class="form-control" id="inputDepartureTime">-->
                    </div>

                  <div class="form-group col-md-4">
                    <label for="inputArrivalDate">Arrival Date </label>
                    <input type="date" th:field="*{arrivalDate}" class="form-control" id="inputArrivalDate" placeholder="Arrival Date">
                    <span th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}" class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-2">
<!--                      <label for="inputArrivalTime">Arrival Time</label>-->
<!--                      <input type="time" th:field="*{arrivalTime}" class="form-control" id="inputArrivalTime">-->
                    </div>
                </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputDeparturePlace">Departure Place </label>
                  <input type="text" th:field="*{depaturePlace}" class="form-control" id="inputDeparturePlace">
                  <span th:if="${#fields.hasErrors('depaturePlace')}" th:errors="*{depaturePlace}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputArrivalPlace">Arrival Place</label>
                    <input type="text" th:field="*{arrivalPlace}" class="form-control" id="inputArrivalPlace">
                    <span th:if="${#fields.hasErrors('arrivalPlace')}" th:errors="*{arrivalPlace}" class="text-danger"></span>
                </div>
                <!-- <div class="form-group col-md-2">
                  <label for="inputState">State</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div> -->
                <div class="form-group col-md-2">
                  <label for="inputPrice">Price for this Flight </label>
                  <input type="text"  th:field="*{price}"  class="form-control" id="inputPrice">
                  <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputNumSeat">Number of seats </label>
                    <input type="text" th:field="*{numbSeat}"  class="form-control" id="inputNumSeat">
                  <span th:if="${#fields.hasErrors('numbSeat')}" th:errors="*{numbSeat}" class="text-danger"></span>
                  </div>
              </div>
              <!-- <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div> -->
              <button type="submit" class="btn btn-primary">Save</button>
            </form>










       
    </div>
    <!-- /.jumbotron -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Safe Aireline 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
