<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Add Flight</title>
</head>
<body>
<div id="main-content" layout:fragment="main-content">
    <!-- Page Content -->
    <div class="container">
        <h3 class="text-center">Thank you for using our flights service.</h3>
        <div class="text-center">
            <p>
                Flight number: <b>123456</b>
            </p>
            <p>
                Flight dep: <b>barcelona</b>
            </p>
            <p>
                Flight arrival: <b>paris</b>
            </p>
            <p>
                Number of seats: <b>2</b>
            </p>
        </div>
        <hr>
        <small class="text-center">Please print this page before you close it.</small>
    </div>
</div>


<!-- /.container -->

</body>
</html>
