
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/main_layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Safe Airline- Detail</title>
</head>
<body>
<div layout:fragment="content" >
    <br>
Flight Number :
<span ></span>
<div th:if="${flight != null}" th:text="${flight.flightNumber}">

</div>
    Successfull Add !!
</div>

<a href="/admin/flight/list"> List Flight</a>
<br>
<th:block layout:fragment="footer"></th:block>
</body>
</html>